/* Reset global y estilos generales */
*,
*::before,
*::after {
    box-sizing: border-box;
}


@import 'tailwindcss';
@import './views/pages/landing.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


/* Paleta de colores personalizada */
:root {
    --primary: #1B475D;
    --secondary: #B4BD62;
    --accent: #FAD564;
    --info: #C5B2DE;
    --light: #FFF5D0;
}

/* Estilo global */
@font-face {
    font-family: 'Lilita One';
    src: url('/fonts/lilita-one/LilitaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/fira-sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', cursive;
}

@media (min-width: 768px) {

    html,
    body {
        font-size: 1.1rem;
    }
}